
body {

    background-image: url("img/pexels-matheus-bertelli-799443.jpg");
    display: flex;
}
.icon {
    width: 75px;
    height: 74px;
}


menu{
width: 400px;
height: 70px;
float: center;

;
}
ul{
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -77px;
}
ul li {
    list-style: none;
    margin-left: 81px;
    margin-top: -74px;
    font-size: 25px;
}
ul  li a{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
    
}

ul li a:hover{
    color: rgb(255, 72, 0);
}


.content{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-top: 50px;
    font-size: 90px;
color: rgb(0, 0, 0);

}
.content:hover{
    color: orangered;
}

.container1 {
    margin-left: 659px;
    margin-top: -438px;
    width: 528px;
}


