Html {
font-size = 62.5%

}

body {

    background-image: url("https://wallpaper.dog/large/10852409.jpg");
    display: cover ;
}
.icon {
    width: 75rem;
    height: 74rem;
}

.navbar{
    width: 1200rem;
    height: 75rem;
    margin: auto;
}
menu{
width: 400rem;
height: 70rem;
float: left;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -77rem;
}
ul li {
    list-style: none;
    margin-left: 81rem;
    margin-top: -74rem;
    font-size: 25rem;
}
ul  li a{
    color: rgb(228, 220, 220);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

ul li a:hover{
    color: rgb(255, 72, 0);
}


.content{
    width: 447rem;
    height: auto;
    margin-left: 76rem;
    margin-top: 50rem;
    font-size: 90rem;
color: white;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 1px;
}
.content:hover{
    color: orangered;
}


.container1 {
    margin-left: 659rem;
    margin-top: -438rem;
    width: 528rem;
}
